.product-container {
  width: 300px;
  padding: 20px;
  height: 43rem;
  box-shadow: 0px 20px 10px lightgrey;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-poster {
  width: 300px;
  height: 350px;
  object-fit: contain;
}
.product-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-summary {
  font-size: 12px;
  text-align: justify;
}
